/address_book.db
/base.py
/database.py
/file.py
/frame.py
/GUI_PY.code-workspace
/images.py
/radio.py
/tempCodeRunnerFile.py
/weather_app.py
/WhatsApp Image 2024-02-03 at 17.07.04_800e3b06.jpg
/WhatsApp Image 2024-02-03 at 17.07.07_53d701fc.jpg
/WhatsApp Image 2024-02-03 at 17.07.08_95f9f74a.jpg
/WhatsApp Image 2024-02-03 at 17.07.11_4500c2e5.jpg
/WhatsApp Image 2024-02-03 at 17.07.14_9781c759.jpg
/WORKING.txt
/Youtube Downloader.bat